header {
    width: 100vw;
    background-color: #000;
    padding: 20px 30px;
    position: fixed;
    z-index: 1;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-logo {
    width: 180px;
    height: 60px;
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-right: 90px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-family: "Inter", serif;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.3s ease;
}

.nav-item a:hover {
    color: #FF8C00;
    font-weight: 800;
}

.btn-default {
    background-color: #FF8C00;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    font-family: "Roboto", serif;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-default:hover {
    background-color: #fff;
}

.btn-menu-mobile,
#mobile-menu {
    display: none;
}

@media screen and (max-width: 1170px) {

    header {
        width: 100vw;
        padding: 0;
        padding: 15px 20px 15px 10px;
    }

    .img-logo {
        width: 150px;
        height: 50px;
    }

    #nav-list,
    .btn-default {
        display: none;
    }

    .btn-menu-mobile {
        display: block;
        background: none;
        border: none;
    }

    #mobile-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #mobile-nav-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 30px;
        padding: 30px 0px;
    }

}