@import url(global.css);
@import url(header.css);
@import url(hero-section.css);
@import url(solution.css);
@import url(methodology.css);
@import url(about.css);
@import url(form.css);
@import url(footer.css);